* {
    box-sizing: border-box;
}

body {
    display:flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    display:flex;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
  }

nav {
    display: flex;
    background-color: darkred;
    color: whitesmoke;
}

nav ul {
    padding: 14px 20px;
    text-decoration: none;
}

main {
    display: flex;
}

footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background: purple; 
    color: white;
}

sample-img {
    background-color: #ffff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

@media screen and (max-width: 992px) {
    header {
        background: orange
    }
}

@media screen and (max-width: 768px) {
    nav {
        background-color: orange;
    }
}

@media screen and (max-width: 576px) {
    footer {
        background-color: lightblue;
    }
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

@media screen and (max-width: 576px) {
    .flex-container div {
        width: 100%;
    }
}
.flex-container div {
    display:flex;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}