* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 2px;
}

header {
  border:dashed black;
  padding: 5px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

header nav {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  border: black;
  padding: 30px;
  text-align:center;
  background-color: oldlace;
  font-size: 28px;
}

.section {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  border: solid black;
  padding: 50px;
  text-align:center;
  background-color: oldlace;

}

.section h2 {
  flex: 0 0 20%;
  border-right: 2px solid black; 
  font-size: 30px;
  text-align: right;
  padding-right:10px;
}

.section div {
  flex: 0 0 70%;
}

.work-images {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  border: solid black;
  padding: 5px;
  text-align:center;
  background-color: oldlace;
}

.work-images img {
  flex: 0 0 100%;
  padding: 5px;
}

.section p {
  font-size: 24px;
}

.section a {
  font-size: 24px;
}

#work-section h2 {
  color: white;
}

footer p {
  border: solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: oldlace;
  }

  @media screen and (max-width: 992px) {
    .section
     {
   flex: 0 0 100%;
    }
    }

    @media screen and (max-width: 768px) {
      header,
      main,
      footer
       {
        flex: 0 0 100%;
        flex-direction: column;
      }