* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 2px;
}

header {
  border:dashed black;
  padding: 5px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

header nav {
  border: dashed black;
  padding: 60px;
  text-align:center;
  background-color: oldlace;
}

header nav ul {
  border: dashed black;
  padding: 15px;
  text-align: center;
}

ul li {
  border: dashed black;
  padding: 15px;
  text-align: center;
}

.about-me-section {
  border: dashed black;
  padding: 60px;
  text-align:center;
  background-color: oldlace;
}

.work-section {
  border: dashed black;
  padding: 60px;
  text-align:center;
  background-color: lightskyblue;
}

.contact-me-section {
  border: dashed black;
  padding: 60px;
  text-align:center;
  background-color: oldlace;
}

footer p {
  border: dashed black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: oldlace;
  }
