.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

body {
    background-color: aquamarine;
}


A Flexible Layout must have a parent element with the display property set to flex

Direct child elements(s) of the flexible container automatically becomes flexible items

