* {
  box-sizing: content-box;
}

body {
  font-family: 'Times New Roman';
}

header {
  border: 2px, black;
  padding: 5px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

header nav {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  border: black;
  padding: 30px;
  text-align:center;
  background-color: oldlace;
  font-size: 28px;
}

.section {
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;
  border: solid black;
  padding: 30px;
  text-align:center;
  background-color: oldlace;
}

.section h2 {
  flex: 0 0 100%;
  flex-wrap:wrap; 
  font-size: 36px;
  text-align: center;
  padding: 8px;
}

.section p {
  font-size: 18px;
  padding: 5px;
}

.section a {
  font-size: 22px;
}

.section div {
  flex: 0 0 100%;
}

#work-section {
  border:black;
  padding: 5px;
  text-align: center;
  background: #13293d;
}

#work-section h2 {
  color: #13293d;
}

.work-images {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  border: black;
  padding: 5px;
  text-align:center;
  background-color: oldlace;
}
.work-images img {
  flex: 0 0 100%;
}

footer {
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  text-align: center;
}

footer p {
  border: solid black;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
      header,
      main,
      footer
       {
        flex: 0 0 100%;
        flex-direction: column;
  }}